/*
** 本页为变量样式
 */

/**
 * 各种圆角 ************************
 */

// 一般圆角 8
$borderRadius8 = .08rem
// 一般圆角 4
$borderRadius4 = .04rem
// 大圆角 40
$borderRadius40 = .4rem
// 半圆角 48
$borderRadius48 = .48rem
// button 30
$borderRadiusButton = .3rem

/**
 * 边框 ************************
 */

// 边框色 eee
$borderColorEE = #EEEEEE
// 边框色 ccc
$borderColorCC = #CCCCCC
// 边框色 e6
$borderColorE6 = #E6E6E6

/**
 * 阴影 ************************
 */

// 阴影
$boxShadow = 0 .04rem .08rem 0 rgba(0,0,0,0.06)

/**
 * 彩色文字颜色 ************************
 */

// 主题蓝色
$colorMainBlue = #009999
// 辅助蓝色
$colorSubBlue = #30C1B5
// 主题黄色
$colorMainYellow = #FFCC00
// 订单黄色
$colorOrderYellow = #F5A631
// 订单黄色背景
$colorOrderBgYellow = rgb(254,246,234)
// 主题红色(Tip)
$colorMainRed = #E65D4E
// 订单红
$colorOrderRed = #FF6666
// 辅助红色(bg)
$colorSubRed = rgb(252,238,237)
// 常规白色
$colorWhite = #FFFFFF

/**
 * 内容文字颜色 ************************
 */
// 大标题
$textMainTitle = #333333
// 主要内容
$textMainCnt = #333333
// 主要文字
$text = #666666
// 次要内容
$textSub = #999999
// 提示信息
$textLight = #CCCCCC
// 白色文字
$textWhite = #fff

/**
 * 背景颜色 ************************
 */

// 主题蓝色 -- 背景色
$bgMainBlue = #009999
// 辅助蓝色 -- 背景色
$bgSubBlue = #30C1B5
// 主题渐变蓝色 -- 背景色
$bgGradientBlue = linear-gradient(315deg,rgba(0,153,153,1) 0%,rgba(48,193,181,1) 100%)
// 主题黄色 -- 背景色
$bgMainYellow = #FFCC00
// 主题黄色辅助色 -- 背景色
$bgSubYellow = rgb(255,249,229)
// 主题红色 -- 背景色
$bgMainRed = #FF6666
// 辅助红色 -- 背景色
$bgSubRed = rgb(252,238,237)
// 常规白色 -- 背景色
$bgWhite = #FFFFFF
// App浅灰色 -- 背景色
$bgLightGray = #F8F8F8
// App深灰色 -- 背景色
$bgDarkGray = #E6E6E6

